* {
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header Part Start */

.header_main {
  background-color: #031424;
  overflow: hidden;
}

.header_mid {
  width: 80%;
  margin: auto;
}

.header_top_menu {
  display: flex;
  justify-content: space-between;
}

.header_top_menu_left {
}

.header_top_menu_left ul {
  padding: 10px 0px;
}

.header_top_menu_left ul li {
  display: inline-block;
}

.header_top_menu_left ul li a {
  color: white;
  display: block;
  padding: 0px 20px;
  border-right: 1px solid white;
}

.header_top_menu_left ul li:last-child a {
  border-right: none !important;
}

.header_top_menu_right {
}

.header_top_menu_right ul {
  padding: 10px 0px;
}

.header_top_menu_right ul li {
  display: inline-block;
}

.header_top_menu_right ul li a {
  color: white;
  display: block;
  padding: 0px 20px;
}

/* ======================== */

.header_middle_main {
  display: flex;
  justify-content: space-between;
  padding: 40px 10px;
}

.header_middile_logo {
}

.header_middile_search {
}

.header_middile_search_div {
  position: relative;
  padding: 0px 40px;
}

.header_middile_search_div input {
  width: 764px;
  padding: 16px 0px 16px 40px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.header_middile_search_div button {
  background-color: #ef262c;
  outline: none;
  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 15px;
}

.search_icon {
  position: absolute;
  top: 16px;
  left: 60px;
}

.header_middile_signIn {
  display: flex;
}

.header_middile_signIn_left img {
  margin-top: 10px;
}

.header_middile_signIn_right span {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
}

.header_middile_signIn_right span:nth-child(1) {
  color: lightgray;
}

.header_middile_signIn_right span:nth-child(2) {
  color: white;
}

.header_middile_love {
  position: relative;
}

.header_middile_love img {
  margin-top: 10px;
}

.header_middile_love_dot {
  color: white;
  font-size: 12px;
  background-color: #ef262c;
  height: 10px;
  width: 10px;

  border-radius: 50%;
  text-align: center;

  position: absolute;
  padding: 5px 5px;

  top: 5px;
  right: -10px;
}

.header_middile_cart {
  position: relative;
}

.header_middile_cart img {
  margin-top: 10px;
}

.header_middile_cart_dot {
  color: white;
  font-size: 12px;
  background-color: #ef262c;
  height: 10px;
  width: 10px;

  border-radius: 50%;
  text-align: center;

  position: absolute;
  padding: 5px 5px;

  top: 5px;
  right: -10px;
}

/* ======================= */

.header_main_menu {
  background-color: lightgreen;
}

.header_main_menu_other_menu ul li {
  display: inline-block;
}

.header_main_menu_other_menu ul {
  padding: 20px 0px;
}

.header_main_menu_other_menu ul li a {
  color: white;
  padding: 0px 15px;
}

.header_main_menu_top_category {
  width: 25%;
  float: left;
}

.header_main_menu_top_category button {
  background-color: #ef262c;
  outline: none;
  border: none;
  width: 90%;
  display: block;
  margin: auto;
  padding: 20px 0px;
  font-size: 16px;
  color: white;
  border-radius: 8px 8px 0px 0px;
}

.header_main_menu_top_category button i {
  margin: 0px 20px;
  font-size: 20px;
}

.header_main_menu_other_menu {
  width: 50%;
  float: left;
}

.header_main_menu_super_discount {
  width: 25%;
  float: left;
}

.header_main_menu_super_discount {
  display: flex;
  padding: 12px 0px;
}

.header_main_menu_super_discount_icon_left img {
  margin: 0px 20px;
  margin-top: 5px;
}

.header_main_menu_super_discount_text span {
  display: block;
}

.header_main_menu_super_discount_text span:nth-child(1) {
  color: gray;
  font-size: 12px;
}

.header_main_menu_super_discount_text span:nth-child(2) {
  color: #ff4e53;
  font-size: 18px;
  font-weight: bold;
}

.header_main_menu_super_discount_icon_right i {
  color: white;
  margin: 0px 20px;
  margin-top: 5px;
}
/* Header Part End */

/* Hero Section Start */
.hero_section_main {
  background-color: #f5f5f5;
  padding: 20px 0px;
}

.hero_secton_mid {
  width: 80%;
  margin: auto;
}

.hero_section_menu {
  width: 25%;
  float: left;
}

.hero_section_slider {
  width: 55%;
  float: left;
}

.hero_section_banner {
  width: 20%;
  float: left;
}

.hero_section_menu_main {
  padding: 0px 15px;
}

.hero_section_menu_main ul {
  background-color: white;
  border-radius: 10px;
  padding: 0px 0px;
  border: 1px solid lightgray;
}

.hero_section_menu_main ul li {
  border-bottom: 2px solid #f4f4f4;
  position: relative;
}

.hero_section_menu_main ul li:last-child {
  border: none;
}

.hero_section_menu_main ul li a {
  padding: 12px 12px;
  display: block;
  color: #494848;
}

.hero_section_menu_main ul li:hover a {
    color: black
}

.hero_section_menu_main ul li a i {
  color: gray !important;
  margin: 0px 10px;
}

.hero_section_menu_main ul li a i:nth-child(2) {
  float: right;
}

.hero_section_menu_main ul li ul {
    background-color: white!important;
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 10;
    width: 100%;
    display: none;


}

.hero_section_menu_main ul li:hover ul {
    display: block;
}

.hero_section_menu_main ul li ul li ul {
    display: none!important;
}

.hero_section_menu_main ul li ul li:hover ul {
    display: block!important;
}

.hero_section_slider_img {
  width: 100%;
}

.hero_section_slider_img img {
  width: 95%;
  border-radius: 10px;
  height: 346px;
  padding: 0px -37px;
  display: block;
  margin: auto;
}

.hero_section_banner_top {
  width: 100%;
  height: 159px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 28px;
}

.hero_section_banner_top img {
  height: 100%;
  width: 100%;
}

.hero_section_banner_bottom {
  width: 100%;
  height: 159px;
}

.hero_section_banner_bottom img {
  height: 100%;
  width: 100%;
}

/* Hero Section End */

/* Popular Section Start */
.popular_section_main {
  background-color: #f5f5f5;
}

.popular_section_mid {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.popular_section_card {
  background-color: white;
  display: flex;
  margin: 10px 13px;
  padding: 15px 0px;
  width: 22%;
  float: left;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.popular_section_card img {
  height: 40px;
  width: 41px;
  margin-left: 20px;
}

.popular_section_card span {
  margin: 0px 10px;
  margin-top: 10px;
}

.popular_section_mid h3 {
  padding: 20px 10px;
}
/* Popular Section End */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header_middile_search_div input {
    width: 200px;
  }

  .header_middile_signIn {
    display: none;
  }

  .header_middile_love {
    display: none;
  }

  .header_middile_cart {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header_middile_search_div input {
    width: 350px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header_middile_search_div input {
    width: 400px;
  }

  .header_middile_signIn {
    display: none;
  }

  .header_middile_love {
    display: block;
  }

  .header_middile_cart {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header_middile_search_div input {
    width: 450px;
  }
  .header_middile_signIn {
    display: flex;
  }

  .header_middile_love {
    display: block;
  }

  .header_middile_cart {
    display: block;
  }
}
